body {
    font-family: 'Verdana';
    margin: 8px;
    background-color: #272727;
}

div {
    display: block;
}

#header {
    max-width: 1210px;
    display: block;
    margin: 10px auto 10px auto;
    background-clip: padding-box;
}

.vcenter {
    display: flex;
    align-items: center;
}

#header img {
	margin: 10px;
    height: 128px;
    width: 128px;
}

#header .title {
    text-align: center;
    font-size: 40px;
    color: white;
}

#saveSettings span {
    margin-right: 2px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.glyphicon-ok {
    color: #42f456;
}
.glyphicon-remove {
    color: red;
}

#page {
    display: block;
    margin: auto;
    max-width: 1210px;
    box-shadow: 0 0 10px 1px #aaaaaa;
    background-color: #ffffff;
    color: #444444;
    background-clip: padding-box;
    padding: 20px 0;
}

fieldset {
    margin-bottom: 20px;
}

.settings-controls {
    margin-top: 10px;
}

.settingGroup {
    
}

.subGroup {
    padding-left: 25px;
}

.inputGroup {
    display: flex;
    align-items: center;
}

.toggle {
    display: none;
}

.toggleLabel {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 11px;
    background-color: #DDD;
    width: 40px;
    height: 20px;
    position: relative;
    transition: all 0.2s;
    margin: 0px;
}

.toggleLabel:after {
    content: '';
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
}

.toggle:checked + label {
    background-color: #3eafe9;
    border-color: #3eafe9;
}

.toggle:checked + label:after {
    left: 20px;
    border-color: #3eafe9;
}

.help-inline {
    margin-left: 10px;
    display: inline;
}

.tooltip-inner {
    max-width: 250px;
}

.on-redirectEH {
    display: none;
}

#folderList {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

.item {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    cursor: move;
    min-width: 380px;
    max-width: 700px;
}

.item div {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .fixed {
    cursor: default;
    color: #959595;
    opacity: 0.5;
}

.fa-arrows-v {
    position: absolute;
    margin-left: -1.3em;
}

.fa-trash {
    padding-left: 5px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
