html,
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Verdana';
}
hr {
  margin: 0px;
}
hr.hr1 {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  margin-top: 2px;
}
hr.hr2 {
  margin-right: 6px;
}

#streams {
  width: 400px;
  overflow: auto;
  box-sizing:border-box;
  padding-left: 10px;
  padding-bottom: 20px;
  
}
.game {
  font-size:14px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 6px;
  clear: left;
}

.game.stream {
  color: #000000;
  font-size:13px;
  text-decoration:none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.game.stream:hover {
  background-color: #d1e0e0;
}

#vacant {
  text-align: center;
}
.site {
  margin: 0 6px 0 2px;
  height: 16px;
}
#header {
  font-size: 28px;
  margin: 4px 0 2px 4px;
}
#refresh {
  position: absolute;
  top: 10px;
  right: 10px;
}
#refreshimg {
  height: 16px;
  width: 16px;
}
#extension {
  position: relative;
  width: 400px;
}

.rotate {
    transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );                        
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 350ms ease;
        -moz-transition:    -moz-transform 350ms ease;
        -o-transition:      -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
}