html,
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
hr {
  margin: 0px;
}
hr.hr1 {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  margin-top: 2px;
}

#extension {
  width: 400px;
  border:1px solid black;
  overflow: auto;
  box-sizing:border-box;
  padding-left: 10px;
  padding-bottom: 20px;
  
}
.game {
  font-family: 'Verdana';
  font-size:14px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 6px;
  clear: left;
}

.game.stream {
  color: #000000;
  font-size:13px;
  text-decoration:none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.game.stream:hover {
  background-color: #d1e0e0;
}

#vacant {
  text-align: center;
}

.site {
  margin: 0 6px 0 2px;
}